<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Simple_Audio_Player.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Simple_Audio_Player.My.MySettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastFileIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayingPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayerState" serializeAs="String">
                <value/>
            </setting>
            <setting name="LastFilePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="CleanClose" serializeAs="String">
                <value>True</value>
            </setting>
        </Simple_Audio_Player.My.MySettings>
    </userSettings>
</configuration>
